body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  background-image: url('./src/assets/StarTrek_bck.jpeg');
  background-repeat: no-repeat;
}

#root {
  max-width: 100%;
}

.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em auto;
  padding: 1em;
  background-color: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  gap: 0.7em;

}

button {
  padding: 0.4em 1em;
  background-color: rgba(158, 207, 243, 0.78);
  color: rgba(41, 41, 60, 0.65);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease, transform 0.1s ease;
}




