body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1em;
  color: #333;
  background-image: url('./src/assets/StarTrek_bck.jpeg');
  background-repeat: no-repeat;
}

#root {
  max-width: 100%;
}

.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em auto;
  padding: 1em;
  background-color: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  gap: 0.7em;
}

button {
  font-size: 0.9em;
  padding: 0.3em 1.5em;
  background-color: #0077cc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #005fa3;
  }
}

.buttonDark {
  background-color: #d7e3ed;
  color: #005fa3;
}
.wrapper-results {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
