.container_details {
  position: absolute;
  top: 11em;
  right: 20em;
  background-color: #c8d2f1;
  font-size: 0.8rem;
  border-radius: 12px;
  padding: 0.5rem;
  width: 10%;
  height: 24em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

h2 {
  font-size: 1.2rem;
}
