.container_details {
  background-color: #c8d2f1;
  font-size: 0.8rem;
  border-radius: 12px;
  padding: 0.5rem;
  width: 40%;
  height: 24em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  margin-top: 6.4rem;
}
h2 {
  font-size: 1.2rem;
}
