.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 8em;
  gap: 2em;

  a {
    color: white;
  }

  .pending {
    color: red;
  }

  .active {
    color: rgba(158, 207, 243, 0.78);
  }
}
