body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  background-image: url('./src/assets/StarTrek_bck.jpeg');
  background-repeat: no-repeat;
}

#root {
  max-width: 100%;
}

.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em auto;
  padding: 1em;
  background-color: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  gap: 0.7em;

}

.container__results {

}





